body {
  &.modal-open {
    overflow-y: hidden;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $gutter-mobile;

  @include media(lg) {
    padding: 0 $gutter-desktop;
  }
}
