@import '../../../styles/settings';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(79, 79, 79, 0.65) 0%, rgba(51, 51, 51, 0.65) 100%);
  
  &__inner {
    background-color: #e5e5e5;
    width: 100%;
    height: 100%;
    padding: 100px 21px 20px 21px;

    @include media(sm) {
      max-width: 400px;
      height: auto;
    }
  }
  
  &__title {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 50px 0;
  }

  &__close {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    &__btn {
      border: 0;
      outline: 0;
      color: $orange-dark;
      font-size: 18px;
      background-color: transparent;
    }
  }
}

.upload-zone {
  position: relative;
  width: 358px;
  height: 211px;
  padding: 50px 50px 20px 50px;
  text-align: center;
  border: 3px dashed #B0BEC5;
  margin: 0 auto;

  &__input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__title {
    margin: 35px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #808E95;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #808E95;
  }
}