/**
* Colors
**/
$white: #FFFFFF;
$black-dark: #000000;
$black: #212121;
$gray-xlight: #FAFAFA;
$gray-light: #EEEEEE;
$gray: #F2F2F2;
$orange: #FFB300;
$orange-dark: #F4511E;
$red: #F4511E;
$purple: #4527A0;
$purple-dark: #1A237E;